<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <title>Git Music</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <!--Primera sección -->
                <section class="frase">
                    <h1>
                        Bienvenido a Git Music
                    </h1>
                </section>
                <!--Segunda sección-->
                <section>
                    <div class="titulos-productos">
                        <h3>NUESTRAS CATEGORIAS</h3>
                    </div>
                    <div class="products">
                       <% products.forEach(element=>{%>
                            <article> <a href="/products/<%= element.id %>">
                                    <img src="/images/products/<%= element.imagen %>">
                                </a>
                                <p class="price">$<%= element.price%> </p>
                            </article>
                            <% }) %> 
                                <!-- <article>
                                <img src="images/tamaDrum.webp" alt="Batería" class="product_img">
                                <div class="main-article">
                                    <p class="price">$1,499.99</p>
                                    <h4 class="description">Batería Tama</h4>
                                </div>
                            </article>
                            <article>
                                <img src="images/fenderGuitar.webp" alt="Guitarra" class="product_img">
                                <div class="main-article">
                                    <p class="price">$1,999.99</p>
                                    <h4 class="description">Guitarra Fender</h4>
                                </div>
                            </article>
                            <article>
                                <a href="/productDetails"><img src="images/bajoFender.webp" alt="Bajo"
                                        class="product_img"></a>
                                <div class="main-article">
                                    <p class="price">$1,199.99</p>
                                    <a href="/products/detail/">
                                        <h4 class="description">Bajo Fender</h4>
                                    </a>
                                </div>
                            </article>
                            <article>
                                <img src="images/tamaDrum.webp" alt="Batería" class="product_img">
                                <div class="main-article">
                                    <p class="price">$1,499.99</p>
                                    <h4 class="description">Batería Tama</h4>
                                </div>
                            </article> -->
                    </div>
                </section>                
            </main>
            <%- include ('./partials/footer')%>
    </body>

</html>