<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <title>Git Music</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <!--Primera sección -->
                <section class="frase">
                    <h1>
                        Bienvenido a Git Music
                    </h1>
                </section>
                <!--Segunda sección-->
                <section>
                    <div class="titulos-productos">
                        <h3>NUESTRAS OFERTAS</h3>
                    </div>
                    <div class="products">

                        <% instrumentos.forEach(element=>{%>
                            <% if(element.discount) {%>
                                <article> <a href="/products/<%= element.id %>">
                                        <img src="<%= element.image %>">
                                        <div class="main-article">
                                            <p class="price">
                                                <%= element.price %>
                                            </p>
                                            <p class="discount">
                                                <%= element.discount %>% de descuento
                                            </p>
                                        </div>
                                    </a>
                                </article>
                                <%};%>
                                    <% }) %>
                    </div>
                </section>
            </main>
            <%- include ('./partials/footer')%>
    </body>

</html>