<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesProduct.css">
    <title>Git Music - Detalles del producto</title>
</head>

<body>
    <%- include ('./partials/header')%> 
    <main>
        <div class="product">
            <img src='/images/products/<%= product.imagen %>'> 
            <div>
                <h2 class="title"><%= product.name %> </h2>
                <p class="description"><%= product.description %> </p>
                <div class="botonera">
                    <p class="price">$<%= product.price %> </p>
                <button id="send" class="cart"><i class="fas fa-truck"></i>Agregar al carro</button>
                </div>
            </div>
        </div>
    </main>
    
    <%- include ('./partials/footer')%>
    
</body>
</html>